﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<style>
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <div class="container-fluid">
            <form class="d-flex input-group w-auto">
                <input type="search"
                       class="form-control rounded"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </form>
        </div>
       
        <div class="dropdown">
            <button class="btn gradient-custom-3 text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome,  @await Component.InvokeAsync("UserName")
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Profile" asp-action="Index">Profile</a>
                </li>
                <li class="nav-item">
                    @if (User.IsInRole("Promoter") || (User.IsInRole("Admin")))
                    {
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="PromoterArea">Dashboard</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UserExclusiveFeatures">Subscribe</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
}
else
{
    <div class="container-fluid">
         <form class="d-flex input-group w-auto">
             <input type="search"
                     class="form-control rounded"
                     placeholder="Search"
                     aria-label="Search"
                     aria-describedby="search-addon" />
             <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
         </form>
    </div>
    <li class="nav-item">
            <a class="btn btn-dark px-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="btn gradient-custom-3 text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>