<h3>Component</h3>

<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h1 class="text-uppercase text-center mb-5">Register An Account</h1>

                            <form id="registerForm" method="post">
                                <div>
                                    <p style="text-align:center;">
                                        Already Have an account? <a href="./Login">Sign In</a>
                                    </p>
                                </div>
                                <hr />
                                <div class="text-danger" role="alert"></div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input @bind="Model.Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                                            <label>First Name</label>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input @bind="Model.Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                                            <label>Last Name</label>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-floating mb-3">
                                    <input @bind="Model.Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label>Email</label>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input @bind="Model.Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label>Password</label>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input @bind="Model.Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label>Confirm Password</label>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <select @bind="Model.Input.Role" class="form-control">
                                        <option value="">Select a role</option>
                                        <option value="User">User</option>
                                        <option value="Promoter">Promoter</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                                <p></p>
                                <button id="registerSubmit" type="submit" class="btn-block w-100 btn-lg gradient-custom-4 text-white">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
