################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/event_booking/FileContentIndex/merges
*.vsidx
/.vs/event_booking/FileContentIndex/write.lock
