@model event_booking.Models.GroupDiscount

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GroupDiscount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumAdults" class="control-label"></label>
                <input asp-for="MinimumAdults" class="form-control" />
                <span asp-validation-for="MinimumAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumChildren" class="control-label"></label>
                <input asp-for="MinimumChildren" class="form-control" />
                <span asp-validation-for="MinimumChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceMultiplier" class="control-label"></label>
                <input asp-for="PriceMultiplier" class="form-control" />
                <span asp-validation-for="PriceMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
