@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1 class="display-4">Get in touch</h1>
</div>
<br>
<br>
<div class="row text-center">
    <div class="col">
        <img src="https://static.vecteezy.com/system/resources/previews/000/552/683/original/geo-location-pin-vector-icon.jpg" width="100">
        <h2>Address</h2>
        <br />
        <h6>Auckland Branch</h6>
        <p>Address for the Auckland Branch</p>
        <h6>Wellington Branch</h6>
        <p>Address for the Wellington Branch</p>
        <h6>Christchurch Branch</h6>
        <p>Address for the Christchurch Branch</p>
    </div>
    <div class="col">
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/78100/phone-icon-clipart-xl.png" width="100">
        <h2>Phone</h2>
        <br />
        <h6>Auckland Branch</h6>
        <p>0123456789</p>
        <h6>Wellington Branch</h6>
        <p>1234567890</p>
        <h6>Christchurch Branch</h6>
        <p>0987654321</p>
    </div>
    <div class="col">
        <img src="https://www.svgrepo.com/show/283412/mail-letter.svg" width="100">
        <h2>Email</h2>
        <br />
        <h6>Book an event</h6>
        <p>bookevent@gmail.com</p>
        <h6>Report an incident</h6>
        <p>reportevent@gmail.com</p>
        <h6>Information about an event</h6>
        <p>infoevent@gmail.com</p>
    </div>
</div>