@*@model YourModelType*@
﻿@{
    ViewData["Title"] = "CRUDs";
}

<h1>Database</h1>

<ul>
    <li><a asp-controller="EventUsers" asp-action="Index">Event Users</a></li>
    <li><a asp-controller="Events" asp-action="Index">Events</a></li>
    <li><a asp-controller="Tickets" asp-action="Index">Tickets</a></li>
    <!-- Add more links as needed -->
</ul>