@*@model YourModelType*@
﻿@{
    ViewData["Title"] = "CRUDs";
}

<div class="container">
    <div class="row">
            <div class="col-md-8">
                <h1 class="display-4 mt-3 mb-4 text-primary">Database</h1>
                <h5 class="text-muted mb-5">Junction tables to come</h5>

                <ul class="list-group">
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="EventUsers" asp-action="Index">Event Users</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="fff" asp-action="Index">fff</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="fff" asp-action="Index">fff</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="fff" asp-action="Index">fff</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Organizers" asp-action="Index">Organizers</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="OrganizerCategories" asp-action="Index">OrganizerCategories</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Events" asp-action="Index">Events</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="EventCategories" asp-action="Index">EventCategories</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Venues" asp-action="Index">Venues</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Seats" asp-action="Index">Seats</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Sections" asp-action="Index">Sections</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Discounts" asp-action="Index">Discounts</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="TicketTypes" asp-action="Index">TicketTypes</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="GroupDiscounts" asp-action="Index">GroupDiscounts</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Vips" asp-action="Index">Vips</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Loyaltys" asp-action="Index">Loyaltys</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="fff" asp-action="Index">fff</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="TicketGroups" asp-action="Index">TicketGroups</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Sales" asp-action="Index">Sales</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" asp-controller="Purchases" asp-action="Index">Purchases</a></li>
                </ul>

                <div class="mt-5">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="PromoterArea">Back to Promoters Area</a>
                </div>
            </div>

            <div class="col-md-4 pt-15 pb-5">
                <div class="d-flex align-items-stretch" style="height: 100%;">
                    <div style="width: 100%; overflow: hidden; border-radius: 20%;">
                        <img src="https://plus.unsplash.com/premium_photo-1681121352693-0a15991e025e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="Database img" class="img-fluid" style="object-fit: cover; height: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>