@*@model YourModelType*@
﻿@{
    ViewData["Title"] = "CRUDs";
}

<h1>Database</h1>
<h2>Junction tables to come</h2>

<ul>
    <li><a asp-controller="EventUsers" asp-action="Index">Event Users</a></li>
    <li><a asp-controller="fff" asp-action="Index">fff</a></li>
    <li><a asp-controller="fff" asp-action="Index">fff</a></li>
    <li><a asp-controller="fff" asp-action="Index">fff</a></li>
    <li><a asp-controller="Organizers" asp-action="Index">Organizers</a></li>
    <li><a asp-controller="OrganizerCategories" asp-action="Index">OrganizerCategories</a></li>
    <li><a asp-controller="Events" asp-action="Index">Events</a></li>
    <li><a asp-controller="EventCategories" asp-action="Index">EventCategories</a></li>
    <li><a asp-controller="Venues" asp-action="Index">Venues</a></li>
    <li><a asp-controller="Seats" asp-action="Index">Seats</a></li>
    <li><a asp-controller="Sections" asp-action="Index">Sections</a></li>
    <li><a asp-controller="Tickets" asp-action="Index">Tickets</a></li>
    <li><a asp-controller="Discounts" asp-action="Index">Discounts</a></li>
    <li><a asp-controller="TicketTypes" asp-action="Index">TicketTypes</a></li>
    <li><a asp-controller="GroupDiscounts" asp-action="Index">GroupDiscounts</a></li>
    <li><a asp-controller="Vips" asp-action="Index">Vips</a></li>
    <li><a asp-controller="Loyaltys" asp-action="Index">Loyaltys</a></li>
    <li><a asp-controller="fff" asp-action="Index">fff</a></li>
    <li><a asp-controller="TicketGroups" asp-action="Index">TicketGroups</a></li>
    <li><a asp-controller="Sales" asp-action="Index">Sales</a></li>
    <li><a asp-controller="Purchases" asp-action="Index">Purchases</a></li>

    <!-- Add more links as needed -->
</ul>