<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="hover12 carousel-item active ">
            <figure>
                <img src="https://c4.wallpaperflare.com/wallpaper/1009/958/551/the-banner-saga-video-games-artwork-concept-art-wallpaper-preview.jpg" class="d-block w-100" alt="...">
                <div class="bottom-left text-white">
                    <h1>Bottom Left</h1>
                    <h3>Bottom Left</h3>
                </div>
            </figure>
        </div>
        <div class="hover12 carousel-item">
            <figure>
                <img src="https://www.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_the_banner_saga_01_2560x1080.jpg&height=506&sharpen" class="d-block w-100" alt="...">
                <div class="bottom-left text-white">
                    <h1>Bottom Left</h1>
                    <h3>Bottom Left</h3>
                </div>
            </figure>
        </div>
        <div class="hover12 carousel-item ">
            <figure>
                <img src="https://www.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_the_banner_saga_3_01_2560x1080.jpg&height=506&sharpen" class="d-block w-100" alt="...">
                <div class="bottom-left text-white">
                    <h1>Bottom Left</h1>
                    <h3>Bottom Left</h3>
                </div>
            </figure>
        </div>
    </div>
