﻿@{
    ViewData["Title"] = "Categories";
}

<div>
    <ul>
        <li>
            <a class="text" asp-area="" asp-controller="Home" asp-action="PerformancesAndNightlife">Performances & Nightlife</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="Home" asp-action="SportsAndOutdoors">Sports & Outdoors</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="Home" asp-action="TheaterAndArts">Theatre & Arts</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="Home" asp-action="FamilyAndEducation">Family & Education</a>
        </li>
    </ul>
</div>