<div>
    <ul>
        <li>
            <a class="text" asp-area="" asp-controller="PerformancesAndNightlife" asp-action="Index">Performances & Nightlife</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="SportsAndOutdoors" asp-action="Index">Theater & Arts</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="TheaterAndArts" asp-action="Index">Sports & Outdoors</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="FamilyAndEducation" asp-action="Index">Festivals & Lifestyle</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="PerformancesAndNightlife" asp-action="Index">Professional Events & Government</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="SportsAndOutdoors" asp-action="Index">Charity & Causes</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="TheaterAndArts" asp-action="Index">Comedy</a>
        </li>
        <li>
            <a class="text" asp-area="" asp-controller="FamilyAndEducation" asp-action="Index">Family & Education</a>
        </li>
    </ul>
</div>