<style>
 body{
       background: rgb(232, 252, 252);
       margin: 0px;
       padding:0px;
        grid-column-gap: 25px;
        column-gap: 25px;
 }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
 .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
    h1,
    h1 + p {
        margin-left: 15px;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h1 + p a {
            color: #333;
        }

            h1 + p a:hover {
                text-decoration: none;
            }

    h2 {
        margin: 5px 15px 0;
        padding: 0;
        font-weight: 300;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h2 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 50%;
        }

    h3 {

        margin-top: 10px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h3 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }

    h4 {
        margin: 5px 5px 0;
        margin-top: -10px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h4 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }

    h5 {
        margin-top: 75px padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h5 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 20%;
        }

    h6 {
        margin: 5px 5px 0;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h6 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 50%;
        }
    p {
        margin-left: 15px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        p span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }
    .example {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }
</style>
<html>
<body>
    <div class="bg-image container-overflow"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="gradient-custom-3">
        <p class="text-white" >Home/Performances & Nightlife/ Hard Rock And Metal </p>
        <p></p>
            <h1 class="text-white">Hard Rock And Metal</h1>
        <div class="container-fluid px-7">
            <div class="row gx-3">
                <div class="col-4">
                    <div class="p-3 border bg-light">
                        <center><h2 class="border-dark border-bottom">SUB CATEGORIES</h2></center>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="PerformancesAndNightlife">All Events</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="AlternativeRock">Alternative Rock</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="RapAndHipHop">Rap And Hip Hop</a>
                            </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="RBandSoul">R&B and Soul</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="JazzAndBlues">Jazz And Blues</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="HardRockMetal">Hard Rock And Metal</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark border-bottom">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="DanceElectronic">Dance And Electronic</a>
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">                          
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">
                        </div>
                        <div class="p-3 mb-2 bg-light bg-gradient text-dark ">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="p-3 border bg-light">
                        <h2 class="border-dark border-bottom">ALL EVENTS</h2>
                        <p></p>
                        <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                <p></p>
                                <h5 >Date</h5>
                                <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                            </div>
                        </div>
                        <p></p>
                        <div class="border border-dark row">
                            <div class="col-md-1">
                                <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                            </div>
                            <div class="col-md-1">
                                <p></p>
                                <h5>Date</h5>
                                <p></p>
                            </div>
                            <div class="col-md-7">
                                <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                <h6>Name Of Event</h6>
                                <h6 class="text-muted">Location of Event - Venue</h6>
                            </div>
                            <div class="col-md-3">
                                <p></p>
                                <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                <p></p>
                            </div>
                        </div>
                        <p></p>
                        <div class="row border border-dark">
                            <div class="col-md-1">
                                <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                            </div>
                            <div class="col-md-1">
                                <p></p>
                                <h5>Date</h5>
                                <p></p>
                            </div>
                            <div class="col-md-7">
                                <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                <h6>Name Of Event</h6>
                                <h6 class="text-muted">Location of Event - Venue</h6>
                            </div>
                            <div class="col-md-3">
                                <p></p>
                                <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                <p></p>
                            </div>
                        </div>
                        <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                            <div class="border border-dark row">
                                <div class="col-md-1">
                                    <img class="center" src="https://i.iheart.com/v3/re/new_assets/6270752830a3cc93558d210e?ops=contain(1480,0)" />
                                </div>
                                <div class="col-md-1">
                                    <p></p>
                                    <h5>Date</h5>
                                    <p></p>
                                </div>
                                <div class="col-md-7">
                                    <h6 class="text-muted"> Day of Week - Time of Event Start</h6>
                                    <h6>Name Of Event</h6>
                                    <h6 class="text-muted">Location of Event - Venue</h6>
                                </div>
                                <div class="col-md-3">
                                    <p></p>
                                    <button type="button" class="btn btn-primary">Find Tickets  ></button>
                                    <p></p>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>

</html>