<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    h1,
    h1 + p {
        margin-left: 15px;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h1 + p a {
            color: #333;
        }

            h1 + p a:hover {
                text-decoration: none;
            }

    h2 {
        margin: 5px 15px 0;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h2 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 50%;
        }

    h3 {
        margin-top: 10px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h3 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }

    h4 {
        margin: 5px 5px 0;
        margin-top: -10px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h4 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }

    h5 {
        margin-top: 75px padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h5 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 20%;
        }

    h6 {
        margin: 5px 5px 0;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        h6 span {
            margin-left: 1em;
            color: #aaa;
            font-size: 50%;
        }

    p {
        margin-left: 15px;
        padding: 0;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

        p span {
            margin-left: 1em;
            color: #aaa;
            font-size: 85%;
        }

    .example {
        position: relative;
        padding: 0;
        width: 300px;
        display: block;
        cursor: pointer;
        overflow: hidden;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    body {
        background-image: url('https://burst.shopifycdn.com/photos/dj-crowd.jpg?width=925&format=pjpg&exif=1&iptc=1');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }

    .container-overflow {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .border-botom {
        margin-bottom: 10px;
    }
    /*Fade Hover Effect*/
    .hover-fade a {
        display: block;
        position: relative;
        overflow: hidden;
        background-color: indigo;
        border-radius: 5px;
    }

    .hover-fade img {
        width: 100%;
        height: auto;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;


    }

    .hover-fade:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
        filter: alpha(opacity=0.5);
        opacity: 0.5;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


</style>
<html>
<body>
    <section class="background-radial-gradient container overflow-hidden">
    </section>
    <div class="container-overflow px-7">
        <div class="row">
            <div class="col-4">
                <div class="container">
                </div>
            </div>
            <div style="margin-top: 100px; margin-left: -50px;" class="col-8 text-white">
                <p>Event Category</p>
                <h1>Event Name</h1>
            </div>
        </div>
        <p></p>
        <div class="container-overflow">
            <div class="row gx-3">
                <div class="container-overflow px-7">
                    <div class="col-12">
                        <div style=" margin-bottom: -20px; margin-top:190px;" class="p-3 border bg-white">
                            <div id="section1"></div>
                        <div class="col-9">
                                <center><h3 style="margin-top: 5px;" class="border-dark border-bottom"></h3></center>
                                <div class="row" style="margin-bottom: 15px; margin-left: 20px; ">
                                    <center><H2 class=" border-dark border-bottom" style="margin-left:350px; margin-right:350px; margin-top: 15px;">Popular Events</H2></center>
                                </div>
                                <div class="row border-bottom">
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded-corners" />
                                        </a>                                          
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <p></p>
                                </div>
                                <div style="margin-top:20px;" class="row border-bottom">
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded-corners" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-3 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <p></p>
                               </div>
                                <div style="margin-top:20px;" class="row border-bottom">
                                    <Center><h2 class="border-dark border-bottom" style="margin-left:350px; margin-right:350px; margin-bottom: 15px; ">Discover Events </h2></Center>
                                    <div class="col-6 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-6 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <p></p>
                                </div>
                                <div style="margin-top:20px;" class="row border-bottom">
                                    <div class="col-6 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <div class="col-6 hover-fade rounded ">
                                        <a href="#" title="">
                                            <img src="https://burst.shopifycdn.com/photos/dark-dj-set.jpg?width=925&format=pjpg&exif=1&iptc=1/" class="rounded" />
                                        </a>
                                        <p class="text-muted">Performances & Nightlife </p>
                                        <center><h4>Denzel Curry</h4></center>
                                    </div>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>
