@model event_booking.Models.EventUser

@{
    ViewData["Title"] = "Ticket2";
}

<h1>Order Successful!</h1>
<hr />
<h5>Receipt</h5>
<div class="row">
    <div class="col">
        <p>19th May 2023</p>
        <p>Order No: SL397826</p>
    </div>
    <div class="col">
        <strong><p>Billed To</p></strong>
        <p>Mr Jones Smith</p>
        <p>119 Queen Street,</p>
        <p>Auckland,</p>
        <p>New Zealand</p>
        <p>0612</p>
    </div>
</div>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<br />
<table>
  <tr>
    <th>Tickets</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
  <tr>
    <td>Adult</td>
    <td>$50.00</td>
    <td>1</td>
    <td>$50.00</td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td>$50.00</td>
  </tr>

</table>
<br />
<h3>Download Tickets</h3>

<table>
  <tr>
    <th>No</th>
    <th>Ticket Type</th>
    <th>Name</th>
    <th>E-Ticket</th>
  </tr>
  <tr>
    <td>900137</td>
    <td>Adult</td>
    <td>Mr John Smith</td>
    <td>Download</td>
  </tr>


</table>

