
@{
    ViewData["Title"] = "Ticket5";
}
<div>
    <h4 class="display-4">Order Successful!</h4>
</div>
<hr />
<h5>Receipt</h5>
<div class="row">
    <div class="col">
        <p>19th May 2023</p>
        <p>Order No: SL397826</p>
    </div>
    <div class="col">
        <strong><p>Billed To</p></strong>
        <p>Mr Jones Smith</p>
        <p>119 Queen Street,</p>
        <p>Auckland,</p>
        <p>New Zealand</p>
        <p>0612</p>
    </div>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tickets</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sub-Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Adult</th>
            <td>$50.00</td>
            <td>1</td>
            <td>$50.00</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td>$50.00</td>
        </tr>
    </tbody>
</table>

<br />
<div>
    <h4 class="display-4">Download</h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Name</th>
            <th scope="col">E-Ticket</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">900137</th>
            <td>Adult</td>
            <td>Mr John Smith</td>
            <td>Download</td>
        </tr>
    </tbody>
</table>

<style>
    thead,
    tfoot {
        background-color: lightblue;
        color: DarkSlateGrey;
    }

    tbody {
    }

    table {
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px 10px;
    }
    
    h4{
        color: rgba(108, 11, 113, 1);
    }
</style>
