
@{
    ViewData["Title"] = "Ticket4";
}

<div id="progress">
    <div id="progress-bar"></div>
    <ul id="progress-num">
        <li class="step active">1</li>
        <li class="step active">2</li>
        <li class="step active">3</li>
        <li class="step active">4</li>
    </ul>
</div>
<button id="progress-prev" class="btn"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ticket3">Next</a></button>


<script>
    const progressBar = document.getElementById("progress-bar");
    const progressNext = document.getElementById("progress-next");
    const progressPrev = document.getElementById("progress-prev");
    const steps = document.querySelectorAll(".step");
    let active = 4;

    progressNext.addEventListener("click", () => {
        active++;
        if (active > steps.length) {
            active = steps.length;
        }
        updateProgress();
    });

    progressPrev.addEventListener("click", () => {
        active--;
        if (active < 4) {
            active = 4;
        }
        updateProgress();
    });

    const updateProgress = () => {
        // toggle active class on list items
        steps.forEach((step, i) => {
            if (i < active) {
                step.classList.add("active");
            } else {
                step.classList.remove("active");
            }
        });
        // set progress bar width
        progressBar.style.width =
            ((active - 4) / (steps.length - 4)) * 100 + "%";
        // enable disable prev and next buttons
        if (active === 4) {
            progressPrev.disabled = true;
        } else if (active === steps.length) {
            progressNext.disabled = true;
        } else {
            progressPrev.disabled = false;
            progressNext.disabled = false;
        }
    };
</script>

<style>
    #progress {
        position: relative;
        margin-bottom: 30px;
    }

    #progress-bar {
        position: absolute;
        background: lightseagreen;
        height: 5px;
        width: 0%;
        top: 50%;
        left: 0;
    }

    #progress-num {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

        #progress-num::before {
            content: "";
            background-color: lightgray;
            position: absolute;
            top: 50%;
            left: 0;
            height: 5px;
            width: 100%;
            z-index: -1;
        }

        #progress-num .step {
            border: 3px solid lightgray;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background-color: #fff;
            font-family: sans-serif;
            font-size: 14px;
            position: relative;
            z-index: 1;
        }

            #progress-num .step.active {
                border-color: lightseagreen;
                background-color: lightseagreen;
                color: #fff;
            }
</style>

<div class="text-center">
    <h1 class="display-4">Make a payment</h1>
</div>
<hr />
<div class="row g-2">
    <div class="col-md">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
            <label for="floatingInputGrid">Card Number</label>
        </div>
    </div>
</div>
<p></p>
<div class="row g-2">
    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>Card Expiry Date</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <label for="floatingSelectGrid">Month</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option value="1">23</option>
                <option value="2">24</option>
                <option value="3">25</option>
                <option value="4">26</option>
                <option value="5">27</option>
                <option value="6">28</option>
            </select>
            <label for="floatingSelectGrid">Year</label>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
        <label for="floatingInputGrid">Cardholder Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
        <label for="floatingInputGrid">Card Security Code</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
        <label for="floatingInputGrid">Billing Address</label>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
            <label for="floatingInputGrid">Billing Postal Code</label>
        </div>
    </div>

</div>
<p></p>


