
@{
    ViewData["Title"] = "UserExclusiveFeatures";
}
<div class="text-center">
    <h1 class="display-4">Subscribe</h1>
    <p>Start your First Month FREE, Cancel anytime</p>
</div>

<div class="row text-center">
    <div class="col"></div>
    <div class="col border">
        <center><h1>Bronze</h1></center>
        <style>
        ul1{
        list-style: none;
        }

                ul1 li:before {
                content: '✓';
            }
        </style>

        <ul1>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
        </ul1>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Start Free Trial</button>
    </div>
    <div class="col border">
        <center><h1>Silver</h1></center>
        <style>
        ul1{
        list-style: none;
        }

                ul1 li:before {
                content: '✓';
            }

        </style>

        <ul1>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
        </ul1>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Start Free Trial</button>
    </div>
    <div class="col border">
        <center><h1>Gold</h1></center>
        <style>
            ul1 {
                list-style: none;
            }

                ul1 li:before {
                    content: '✓';
                }

        </style>

        <ul1>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
            <li>this is my text</li>
        </ul1>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Start Free Trial</button>
    </div>
    <div class="col"></div>
</div>
<br />
<br />

<style>
    * {
        margin: 0;
        padding: 0;

    }
    .hero{
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,#6ac1c5,#bda5ff)

    }
</style>
<head>
    <link rel="stylesheet" href="~/css/evo-calendar.min.css" />
    <link rel="stylesheet" href="~/css/evo-calendar.midnight-blue.min.css" />
</head>

<body>
    <div class="hero">
        <div id="calendar"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js "></script>
    <script src="~/js/evo-calendar.min.js"></script>

<script>
        $(document).ready(function () {
            $('#calendar').evoCalendar({
            })
        })
</script>

</body>

<h3 class="display-4">How was your experience at the event</h3>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>
</body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>