@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    h2 {
        color: indigo;
    }

    a {
        text-decoration: none;
        color: hsl(218, 81%, 75%);
    }

    body {
        background-image: url('https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=955&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))

</style>

<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <br />
        <br />
        <br />
        <br />
        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <center>
                    <h2 class="fw-bold mb-2 text-uppercase">Forgot Your Password</h2>
                    <p class="text-black-50 mb-5">Just enter your email address</p>
                </center>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div1>
                        <button type="submit" class="w-100 text-white btn btn-lg gradient-custom-4 ">Reset Password</button>
                    </div1>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
