@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<style>
    h2 {
        color: indigo;
    }

<style>
    h2 {
        color: indigo;
    }
    a{
        text-decoration:none;
        color: hsl(218, 81%, 75%);
    }

    body {
        background-image: url('https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=955&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1));
    }

</style>

<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best business <br />
                    <span style="color: hsl(218, 81%, 75%)">to buy your ticket</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Uncover millions of events right here in New Zealand
                    , get tip offs about your favorite scenes, artists, arts, teams, and more, you will 
                    always be getting afforable secure ticketing with any event. Eventful is the business 
                    to be with to find exclusive events all with a reasonable price. Log in now to uncover 
                    a world filled with events tailored to your liking right here at Eventful
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form id="account" method="post">
                            <center>
                                <h2 class="fw-bold mb-2 text-uppercase">Log in</h2>
                                <p class="text-black-50 mb-5">Please enter your Email and Password</p>
                            </center>
                            <!-- Email input -->
                            <div1 class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div1>
                            <p></p>

                            <!-- Password input -->
                            <p></p>
                            <div1 class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div1>
                            <p></p>

                            <!-- Checkbox -->
                            <p></p>
                            <div1 class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div1>
                            <p></p>

                            <!-- Submit button -->
                            <div1>
                                <button id="login-submit" type="submit" class="w-100 text-white btn btn-lg gradient-custom-4 ">Log in</button>
                            </div1>
                            <div1>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <br>
                                <br>
                                <center>
                                    <p>
                                        Dont have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create one</a>
                                    </p>
                                </center>
                                <br>
                                <center>
                                    <p>
                                        <a asp-controller="Home" asp-action="Index">Back to Eventful</a>
                                    </p>
                                </center>
                            </div1>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}