@model event_booking.Models.Event

<h2>Edit Event</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="EventId" />

    <div class="form-group">
        <label asp-for="OrganizerId" class="control-label">Organizer</label>
        <select asp-for="OrganizerId" asp-items='new SelectList(ViewBag.Organizers, "OrganizerId", "Name")' class="form-control">
            <option value="">Select Organizer</option>
        </select>
        <span asp-validation-for="OrganizerId" class="text-danger"></span>
    </div>

    <!-- Event Category -->
    <div class="form-group">
        <label asp-for="EventCategoryId" class="control-label">Event Category</label>
        <select asp-for="EventCategoryId" asp-items='new SelectList(ViewBag.EventCategories, "EventCategoryId", "CategoryName")' class="form-control">
            <option value="">Select Event Category</option>
        </select>
        <span asp-validation-for="EventCategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDateTime" class="control-label">Start Date and Time</label>
        <input asp-for="StartDateTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="StartDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDateTime" class="control-label">End Date and Time</label>
        <input asp-for="EndDateTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="EndDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Image URL</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EarlyBirdCutoff" class="control-label">Early Bird Cutoff</label>
        <input asp-for="EarlyBirdCutoff" class="form-control" type="date" />
        <span asp-validation-for="EarlyBirdCutoff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
